:root {
  --theme-color: white;
  --primary-color: #124f88;
  --secundary-color: #F7C331;
  --text-color-inverse: white;
  --text-color: black;
  --navbar-shallow-color: #e5e5e5;
  --menu-mobile-background-color: #3A4460;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--theme-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}